:root {
  --main-color: #111;
  --secondary-color: #fff;
  --color-accent: #fd9222;
}
body {
  font-family: 'Montserrat', sans-serif;
  background: #fafafa;
}
.list {
  list-style-type: none;
}
ul {
  padding: 0;
  margin: 0;
}
h1,
h2,
h3,
h4,
p {
  padding: 0;
  margin: 0;
}
img {
  display: block;
  width: 100%;
}
a {
  text-decoration: none;
}
button {
  cursor: pointer;
}
.container {
  max-width: 335px;
  margin: 0 auto;
  padding: auto 20px;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 736px;
    padding-left: 16px;
    padding-right: 16px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1168px;
  }
}
.accent {
  color: var(--color-accent);
}
/* HEADER */
.page-header {
  padding-top: 24px;
  padding-bottom: 24px;
  display: flex;
  align-items: center;
}
.page-nav {
  display: none;
}
.logo-header {
  display: flex;
  color: var(--main-color);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.28;
  letter-spacing: -0.03em;
  align-items: center;
  margin-right: 47px;
}
.logo-icon {
  margin-left: 4px;
}
.navigation-links {
  color: var(--main-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.02em;
}
.navigation-links:hover,
.navigation-links:focus {
  color: var(--color-accent);
}
.social-list {
  display: none;
}
.social-icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  width: 40px;
  height: 40px;
  transition: border-color 250ms ease-in-out;
}
.social-icons-header {
  transition: fill 250ms ease-in-out;
}
.social-icon-link:hover,
.social-icon-link:focus {
  border-color: rgba(253, 146, 34, 0.1);
}
.social-icon-link:hover .social-icons-header,
.social-icon-link:focus .social-icons-header {
  fill: var(--color-accent);
}
.mobile-menu-btn {
  background-color: transparent;
  border: none;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .mobile-menu-btn {
    display: none;
  }
  .page-nav {
    display: flex;
    align-items: center;
  }
  .social-list {
    display: flex;
    gap: 14px;
    align-items: center;
    margin-left: auto;
  }
  .navigation-list {
    display: flex;
    gap: 20px;
    align-items: center;
    max-width: 312px;
  }
}
@media screen and (min-width: 1200px) {
  .navigation-list {
    gap: 24px;
    max-width: 320px;
  }
  .logo-header {
    font-size: 18px;
    line-height: 1.11;
    letter-spacing: -0.03em;
    margin-right: 365px;
  }
}
/* HERO SECTION */
.hero-section {
  border-radius: 30px;
  background: linear-gradient(
      to bottom,
      rgba(17, 17, 17, 0.4),
      rgba(17, 17, 17, 0.4)
    ),
    url('../Images/chocolate_main-mobile.png');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  padding: 395px 16px 20px 20px;

  margin-bottom: 32px;
  flex-shrink: 0;
}
@media screen and (min-resolution: 192dpi) {
  .hero-section {
    background: linear-gradient(
        to bottom,
        rgba(17, 17, 17, 0.4),
        rgba(17, 17, 17, 0.4)
      ),
      url('../Images/chocolate_main-mobile@2x.png');
  }
}

.hero-title {
  color: var(--secondary-color);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -0.02em;
  margin-bottom: 32px;
  max-width: 299px;
}
.btn-wrap {
  display: flex;
  gap: 14px;
}
.hero-button-buy {
  border-radius: 100px;
  background: var(--color-accent);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
  color: var(--secondary-color);
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
  border: none;
  width: 120px;
  height: 41px;
}
.hero-button-buy:hover,
.hero-button-buy:focus {
  background: #fcf1e0;
  color: var(--color-accent);
}
.how-made-button {
  border-radius: 100px;
  border: 1px solid var(--secondary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
  color: var(--secondary-color);
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
  width: 159px;
  height: 41px;
}
.how-made-button:hover,
.how-made-button:focus {
  border: 1px solid var(--color-accent);
  color: var(--color-accent);
}
.scroll-wrapper {
  width: 163px;
  height: 53px;
  flex-shrink: 0;
  background-color: transparent;
}
.scroll-button:hover,
.scroll-button:focus {
  color: var(--color-accent);
}
.scroll-button:hover .scroll-icon-wrapper,
.scroll-button:focus .scroll-icon-wrapper {
  background-color: var(--color-accent);
  border: none;
}
.scroll-button:hover .icon-scroll,
.scroll-button:focus .icon-scroll {
  fill: #fff;
}
.scroll-button {
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.28;
  letter-spacing: -0.03em;
  margin-top: 32px;
  flex-wrap: wrap;
  transition: color 250ms ease-in-out;
}
.scroll-icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 38px;
  height: 38px;
  flex-shrink: 0;
  border: 1px solid var(--secondary-color);
  border-radius: 50%;
  background-color: var(--secondary-color);
  margin-left: 14px;
  transition: background-color 250ms ease-in-out;
}
.icon-scroll {
  fill: var(--color-accent);
  transition: fill 250ms ease-in-out;
}

@media screen and (min-width: 768px) {
  .hero-section {
    padding: 761px 40px 40px 40px;
    background: linear-gradient(
        to bottom,
        rgba(17, 17, 17, 0.4),
        rgba(17, 17, 17, 0.4)
      ),
      url('../Images/chocolate_main-tablet.png');
    position: relative;
    flex-direction: row;
    align-items: ;
  }
  .hero-title {
    color: var(--secondary-color);
    font-size: 28px;
    font-weight: 500;
    line-height: 1.21;
    letter-spacing: -0.03em;
    margin-bottom: 32px;
    max-width: 484px;
  }
  .scroll-button {
    align-self: flex-end;
    margin-left: auto;
  }
  .how-made-button {
    max-width: 183px;
    height: 45px;
  }
  .hero-button-buy {
    max-width: 144px;
    height: 45px;
  }
}
@media screen and (min-width: 1200px) {
  .hero-section {
    padding-top: 381px;
    background: linear-gradient(
        to bottom,
        rgba(17, 17, 17, 0.4),
        rgba(17, 17, 17, 0.4)
      ),
      url('../Images/chocolate_main.png');
  }
}
@media screen and (min-resolution: 192dpi) and (min-width: 768px) {
  .hero-section {
    background: linear-gradient(
        to bottom,
        rgba(17, 17, 17, 0, 4),
        rgba(17, 17, 17, 0, 4)
      ),
      url('../Images/chocolate_main-tablet@2x.png');
    background-repeat: no-repeat;
    background-size: cover;
  }
}
@media screen and (min-resolution: 192dpi) and (min-width: 1200px) {
  .hero-section {
    background: linear-gradient(
        to bottom,
        rgba(17, 17, 17, 0, 4),
        rgba(17, 17, 17, 0, 4)
      ),
      url('../Images/chocolate_main@2x.png');
    background-repeat: no-repeat;
    background-size: cover;
  }
}
/* OUR BENEFITS SECTION */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.benefits-section {
  background: #1e1823;
  padding: 20px 0;
  margin-bottom: 40px;
  margin-top: 80px;
}

.benefits-list {
  display: flex;
  flex-direction: column;
  gap: 38px;
}

.benefits-items {
  flex-basis: calc((100% - 176px) / 3);
}

.benefits-icons-wrapper {
  width: 62px;
  height: 62px;
  border-radius: 365px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 22px;
}
.benefits-title {
  color: var(--secondary-color);
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 18px;
}
.benefits-text {
  color: rgba(255, 255, 255, 0.7);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28;
  letter-spacing: -0.02em;
}

@media screen and (min-width: 768px) {
  .benefits-list {
    flex-flow: row wrap;
    column-gap: 88px;
    row-gap: 44px;
  }
  .benefits-section {
    padding: 50px auto;
    margin-top: 40px;
    margin-bottom: 50px;
  }
  .benefits-items {
    flex-basis: calc((100% - 88px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .benefits-list {
    flex-wrap: nowrap;
    gap: 88px;
  }
  .benefits-section {
    padding: 50px auto;
    margin-top: 80px;
    margin-bottom: 60px;
  }
  .benefits-items {
    flex-basis: calc((100% - 176px) / 3);
    position: relative;
  }
  .center-item::before {
    width: 1px;
    height: 124px;
    background: rgba(255, 255, 255, 0.5);
    content: '';
    position: absolute;
    left: -44px;
    top: 50%;
    transform: translateY(-50%);
  }
  .center-item::after {
    width: 1px;
    height: 124px;
    background: rgba(255, 255, 255, 0.5);
    content: '';
    position: absolute;
    right: -44px;
    bottom: 50%;
    transform: translateY(50%);
  }
}
/* INGRIDIENTS SECTION */
.ingridients-section {
  padding-top: 40px;
  padding-bottom: 40px;
}
.ingridients-title {
  color: var(--main-color);
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  max-width: 283px;
  margin-bottom: 32px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.ingridients-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.ingridients-items {
  border-radius: 15px;
  padding: 32px 50px 28px 50px;
  position: relative;
}
.ingridients-name {
  color: var(--secondary-color);
  font-size: 14px;
  font-weight: 600;
  line-height: 1.28;
  letter-spacing: -0.02em;
  margin-top: 36px;
}

.orange-card {
  background-color: var(--color-accent);
}
.orange-card .ingridients-icon {
  stroke: #fafafa;
}
.black-card {
  background-color: var(--main-color);
}
.black-card .ingridients-icon {
  stroke: #fafafa;
}
.white-card {
  background-color: var(--secondary-color);
  border: 1px solid var(--color-accent);
}
.white-card .ingridients-icon {
  stroke: var(--color-accent);
}
.black-text {
  color: var(--main-color);
}
.ingridients-item-btn {
  background-color: transparent;
  border: none;
}
.ingridients-icon {
  position: absolute;
  top: 14px;
  right: 14px;
}

@media screen and (min-width: 768px) {
  .ingridients-section {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .ingridients-title {
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: -0.03em;
    max-width: 412px;
    margin-bottom: 50px;
  }
  .ingridients-list {
    flex-flow: row wrap;
    gap: 32px;
  }
  .ingridients-items {
    width: calc((100% - 32px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .ingridients-section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .ingridients-list {
    column-gap: 32px;
    row-gap: 24px;
  }
  .ingridients-items {
    width: calc((100% - 96px) / 4);
    padding: 28px 23px;
  }
}
/* HOW ITS MADE SECTION */
.how-its-made-section {
  padding-bottom: 40px;
  padding-top: 40px;
}
.how-made-title {
  color: var(--main-color);
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  margin-bottom: 32px;
}
.how-made-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.how-made-container > img {
  height: 500px;
}
.how-made-description {
  padding: 20px 14px;
  border-radius: 15px;
  background: #fff;
  flex-grow: 1;
}
.how-made-list-title {
  color: var(--main-color);
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;
  margin-bottom: 20px;
  max-width: 307px;
}
.how-made-list {
  display: flex;
  flex-direction: column;
  gap: 18px;
  padding-left: 16px;
}
.how-made-text {
  color: var(--main-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28;
  letter-spacing: -0.02em;
  margin-left: 8px;
}

@media screen and (min-width: 768px) {
  .how-its-made-section {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .how-made-title {
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: -0.03em;
    margin-bottom: 50px;
  }
  .how-made-list-title {
    margin-bottom: 28px;
    max-width: 350px;
  }
  .how-made-container > img {
    height: 400px;
  }
  .how-made-description {
    padding: 32px;
  }
}

@media screen and (min-width: 1200px) {
  .how-its-made-section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .how-made-container {
    flex-direction: row;
  }
}
/* OUR PRODUCTS SECTION */
.products-section {
  padding-top: 40px;
  padding-bottom: 40px;
}
.products-title {
  color: var(--main-color);
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  margin-bottom: 32px;
}
.products-list {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.products-items {
  border-radius: 15px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  background: var(--secondary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px 53px;
}
.products-card-title {
  color: var(--main-color);
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  margin-bottom: 2px;
  margin-top: 8px;
}
.products-text {
  color: rgba(17, 17, 17, 0.7);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: -0.02em;
  margin-bottom: 18px;
}
.products-price {
  border-radius: 100px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  background: #fafafa;
  color: var(--main-color);
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
  padding: 8px 20px;
}

@media screen and (min-width: 768px) {
  .products-section {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .products-title {
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: -0.03em;
    margin-bottom: 50px;
  }
  .products-list {
    flex-flow: row wrap;
  }
  .products-items {
    flex-basis: calc((100% - 32px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .products-section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .products-list {
    column-gap: 18px;
    row-gap: 24px;
  }
  .products-items {
    flex-basis: calc((100% - 54px) / 4);
    padding: 32px 0;
  }
}
/* TOP SELLERS SECTION */
.sellers-section {
  padding-top: 40px;
  padding-bottom: 40px;
}
.sellers-title {
  color: var(--main-color);
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 32px;
}
.sellers-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.sellers-text {
  color: var(--main-color);
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  text-align: center;
  padding: 28px 0;
  border-radius: 0px 0px 15px 15px;
  border-right: 1px solid rgba(17, 17, 17, 0.1);
  border-bottom: 1px solid rgba(17, 17, 17, 0.1);
  border-left: 1px solid rgba(17, 17, 17, 0.1);
  background: var(--secondary-color);
}
.overlay-wrapper {
  position: relative;
  overflow: hidden;
  padding: 0;
}
.overlay {
  width: 100%;
  height: 100%;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28;
  letter-spacing: -0.02em;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.2) 0%,
    rgba(0, 0, 0, 0.2) 100%
  );

  transform: translateY(100%);
  position: absolute;
  top: 0;
  left: 0;
  padding: 178px 40px;
  transition: transform 250ms ease-in-out;
  border-radius: 15px;
  backdrop-filter: blur(7.5px);
}
.sellers-items:hover .overlay,
.sellers-items:focus .overlay {
  transform: translateY(0);
}

@media screen and (min-width: 768px) {
  .sellers-section {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .sellers-title {
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: -0.03em;
    margin-bottom: 50px;
  }
  .sellers-list {
    flex-flow: row;
  }
  .no-shown {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .sellers-section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .sellers-list {
    flex-wrap: nowrap;
  }
  .no-shown {
    display: block;
  }
}
/* REVIEWS SECTION */
.review-section {
  padding-top: 40px;
  padding-bottom: 40px;
  margin-bottom: 40px;
}
.review-title {
  color: var(--main-color);
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 74px;
}
.review-list {
  display: flex;
  flex-direction: column;
  gap: 74px;
  margin-bottom: 32px;
}

.review-items {
  border-radius: 15px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  background: var(--secondary-color);
  box-shadow: 0px 9.049315452575684px 100px 0px rgba(17, 17, 17, 0.03);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 56px 24px 24px 24px;
  position: relative;
}
.review-items > img {
  width: 80px;
}
.review-names {
  color: var(--main-color);
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;
}
.review-text {
  color: rgba(17, 17, 17, 0.7);
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28;
  letter-spacing: -0.02em;
  padding: 24px;
}

.review-image {
  position: absolute;
  top: -42px;
  left: 50%;
  transform: translateX(-50%);
}
.review-button {
  border-radius: 100px;
  border: 1px solid var(--color-accent);
  display: flex;
  width: 222px;
  height: 50px;
  padding: 14px 40px;
  justify-content: center;
  align-items: flex-start;
  gap: 14px;
  background-color: #fafafa;
  color: var(--main-color);
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
  margin: 0 auto;
}
.review-button:hover,
.review-button:focus {
  background-color: var(--color-accent);
  color: var(--secondary-color);
}

@media screen and (min-width: 768px) {
  .review-section {
    padding-top: 50px;
    padding-bottom: 50px;
    margin-bottom: 50px;
  }
  .review-title {
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: -0.03em;
    margin-bottom: 91px;
  }
  .review-list {
    flex-direction: row;
    gap: 28px;
    margin-bottom: 50px;
  }
  .review-items {
    flex-basis: calc((100% - 16px) / 2);
  }
  .no-shown {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .review-section {
    padding-top: 60px;
    padding-bottom: 60px;
    margin-bottom: 60px;
  }
  .review-items {
    flex-basis: calc((100% - 56px) / 3);
  }
  .no-shown {
    display: block;
  }
}
/* FOOTER SECTION */
.page-footer {
  background: #1e1823;
}
.footer {
  padding-top: 32px;
  padding-bottom: 32px;
}
.container-top {
  display: flex;
  flex-direction: column;
  padding: 32px auto;
  gap: 32px;
  margin-bottom: 32px;
}
.footer-text {
  color: var(--secondary-color);
  font-size: 24px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: -0.02em;
  max-width: 300px;
}
.social-title-footer {
  color: var(--secondary-color);

  font-size: 14px;
  font-weight: 500;
  line-height: 1.28;
}
.address-title-footer {
  color: var(--secondary-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.28;
}
.social-icon-link-footer {
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.social-icon-link-footer:hover .icons-social-footer,
.social-icon-link-footer:focus .icons-social-footer {
  stroke: var(--color-accent);
}
.icons-social-footer {
  stroke: var(--secondary-color);
  transition: stroke 250ms ease-in-out;
}
.footer-container-links {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.social-links-footer {
  display: flex;
  gap: 14px;
  margin-top: 14px;
}
.contacts-list-footer {
  margin-top: 14px;
}
.contacts-links {
  color: var(--secondary-color);
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.28;
  letter-spacing: -0.02em;
}
.contacts-links:hover,
.contacts-links:focus {
  color: var(--color-accent);
}

.container-bottom {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding-top: 32px;
}
.navigation-list-footer {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.navigation-links-footer {
  color: var(--secondary-color);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.02em;
}
.navigation-links-footer:hover,
.navigation-links-footer:focus {
  color: var(--color-accent);
}
.form-footer {
  margin-left: auto;
  display: flex;
  gap: 8px;
}
.input-footer {
  background-color: transparent;
  border-radius: 30px;
  border: 1.5px solid rgba(255, 255, 255, 0.15);
  color: var(--secondary-color);
  width: 207px;
  height: 45px;
  padding: 14px 24px;
  outline: transparent;
  transition: border-color 250ms ease-in-out;
}
.input-footer:focus {
  border-color: var(--color-accent);
}
.input-footer::placeholder {
  color: rgba(255, 255, 255, 0.3);
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.02em;
}
.form-btn-footer {
  display: flex;
  width: 120px;
  height: 45px;
  justify-content: center;
  align-items: center;
  gap: 14px;
  color: var(--secondary-color);
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
  border-radius: 100px;
  background: var(--color-accent);
  border: none;
  transition: background-color 250ms ease-in-out, color 250ms ease-in-out;
}
.form-btn-footer:hover,
.form-btn-footer:focus {
  background-color: #fcf1e0;
  color: var(--color-accent);
}

@media screen and (min-width: 768px) {
  .footer {
    padding: 50px auto;
  }
  .container-top {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 54px;
    align-items: center;
  }
  .footer-text {
    color: var(--secondary-color);
    font-size: 28px;
    font-weight: 500;
    line-height: 1.53;
    letter-spacing: -0.02em;
    max-width: 300px;
  }
  .footer-container-links{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
  }
  .container-bottom{
    flex-direction: row;
    align-items: center;
    padding-top: 24px;
  }
  .navigation-list-footer{
    flex-direction: row;
    gap: 16px;
    align-items: center;
  }
  .input-footer{
    width: 233px;
    height: 45px;
  }
  .form-btn-footer{
    width: 128px;
    height: 45px;
  }
}

@media screen and (min-width: 1200px) {
  .container-top{
    padding-top: 50px;
    margin-bottom: 54px;
  }
  .input-footer{
    width: 313px;
    height: 52px;
  }
  .input-footer::placeholder{
    font-size: 18px;
  }
  .form-btn-footer{
    width: 137px;
    height: 52px;
  }
  .container-bottom{
    padding-bottom: 50px;
  }
}
/* MODAL WINDOW */

.backdrop {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(17, 17, 17, 0,4);
  transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* MODAL FORM */
.modal-wrapper {
  width: 311px;
  
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 999999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  position: absolute;
  border-radius: 15px;
  background: #fafafa;
  padding: 40px 24px;
}
.close-icon {
  stroke: #111111;
  transition: stroke 250ms ease-in-out;
}
.btn-modal-close {
  position: absolute;
  top: 14px;
  right: 14px;
  background-color: transparent;
  line-height: 0;
  border: none;
}
.btn-modal-close:hover .close-icon,
.btn-modal-close:focus .close-icon {
  stroke: var(--color-accent);
}
.modal-form-text {
  color: var(--main-color);
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  width: 255px;
  margin-bottom: 32px;
}
.label-modal {
  color: rgba(64, 64, 64, 0.3);
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.04em;
}
.input-modal-wrapper {
  position: relative;
}
.input-modal {
  display: block;
  width: 100%;
  border-radius: 13px;
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  box-shadow: 0px 5.44492px 5.44492px 0px rgba(0, 0, 0, 0.03);
  height: 68px;
  padding-left: 62px;
  margin-top: 8px;
  margin-bottom: 18px;
  color: var(--main-color);
  outline: transparent;
}
.icon-modal-form {
  stroke: #404040;
  position: absolute;
  top: 50%;
  left: 24px;
  transform: translateY(-50%);
  transition: stroke 250ms ease-in-out;
}
.input-modal:focus {
  border-color: var(--color-accent);
}
.input-modal:focus + .icon-modal-form {
  stroke: var(--color-accent);
}
.text-area {
  display: block;
  margin-top: 8px;
  width: 100%;
  height: 137px;
  resize: none;
  border-radius: 13px;
  outline: transparent;
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  padding: 22px 24px 93px 24px;
  margin-bottom: 20px;
  overflow: hidden;
}
.text-area::placeholder {
  color: rgba(64, 64, 64, 0.3);
  font-size: 18px;
  font-weight: 400;
  letter-spacing: -0.02em;
}
.text-area:focus {
  border-color: var(--color-accent);
}
.label-checkbox {
  color: rgba(64, 64, 64, 0.6);
  font-size: 12px;
  font-weight: 400;
  letter-spacing: -0.02em;
  display: flex;
  align-items: center;

}
.privacy-link {
  color: var(--color-accent);
  text-decoration: underline;
}
.custom-checkbox {
  border-radius: 6px;
  border: 1px solid rgba(17, 17, 17, 0.14);
  background-color: transparent;
  display: inline-flex;
  width: 20px;
  height: 20px;
  margin-right: 12px;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms ease-in-out;
}
.checkbox-accept {
  fill: var(--secondary-color);
  transition: fill 250ms ease-in-out;
}
.input-checkbox:checked + .label-checkbox > .custom-checkbox {
  background-color: var(--color-accent);
  fill: var(--secondary-color);
  border: none;
}

.btn-submit-modal {
  margin-top: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14px;
  border-radius: 100px;
  background: var(--color-accent);
  width: 117px;
  height: 45px;
  color: var(--secondary-color);
  font-size: 14px;
  font-weight: 600;
  border: none;
  transition: background-color 250ms ease-in-out, color 250ms ease-in-out;
}
.btn-submit-modal:hover,
.btn-submit-modal:focus {
  background-color: #fcf1e0;
  color: var(--color-accent);
}


@media screen and (min-width: 768px) {
  .modal-wrapper {
    width: 517px;
    padding: 40px;
  }
  .modal-form-text {
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: -0.03em;
    width: 298px;
    margin-bottom: 40px;
  }
  .btn-modal-close {
    position: absolute;
    top: 24px;
    right: 24px;
  }
}

/* MOBILE MENU */
@media screen and (max-width: 767px) {
  

 

.mobile-menu-wrap{
  position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1E1823;
    opacity: 1;
  visibility: visible;
  pointer-events: auto;
  padding: 136px 76px 20px 20px;
  display: flex;
  flex-direction: column;
  transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-menu-btn {
position: absolute;
background-color: transparent;
border: none;
top: 20px;
right: 20px;
}
.icon-close-mobile{
  stroke: var(--secondary-color);
}

.navigation-list-mobile {
  display: flex;
  flex-direction: column;
gap: 24px;
}

.navigation-links-mobile {
  color: var(--secondary-color);
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 1.14;
letter-spacing: -0.02em;
transition: color 250ms ease-in-out;
}
.navigation-links-mobile:focus,
.navigation-links-mobile:hover{
  color: var(--color-accent);
}
.social-list-mobile {
margin-top: auto;
display: flex;
gap: 14px;
}
.social-icon-link-mobile {
  width: 40px;
  height: 40px;
  border-radius: 10px;
border: 1px solid rgba(255, 255, 255, 0.10);
background-color: transparent;
display: flex;
justify-content: center;
align-items: center;
transition: border-color 250ms ease-in-out;
}
.social-icons-mobile {
  fill: var(--secondary-color);
}

.social-icon-link-mobile:focus {
  border-color: rgba(253, 146, 34, 0.1);

}
.social-icon-link-mobile:focus .social-icons-header {
  fill: var(--color-accent);
}
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}